## Call GetProfileByUser.req.vtl and GetProfileByUser.res.vtl

#set( $profile = $ctx.stash.get("profile") )

#if (!$profile)
  $util.error("Profile not found", "BAD_REQUEST")
#end

#set( $update = {
  "expression": "SET #exploreRecentSearch = :exploreRecentSearch",
  "expressionNames": { "#exploreRecentSearch": "exploreRecentSearch" },
  "expressionValues": { ":exploreRecentSearch": $util.dynamodb.toDynamoDB(null) }
} )

{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "id": {
      "S": $util.toJson($profile.id)
    }
  },
  "update": $util.toJson($update)
}