## [Start] Stash resolver specific context.. **
$util.qr($ctx.stash.put("userID", $ctx.identity.claims["custom:id"]))
$util.qr($ctx.stash.put("staffID", $ctx.args.input.staffID))
{}
## [End] Stash resolver specific context.. **