
## [Start] Stash resolver specific context.. **
$util.qr($ctx.stash.put("userID", $ctx.identity.claims["custom:id"]))
$util.qr($ctx.stash.put("role", $ctx.args.input.role))
$util.qr($ctx.stash.put("messageID", $ctx.args.input.messageID))
$util.qr($ctx.stash.put("messageReactionType", $ctx.args.input.messageReactionType))
{}
## [End] Stash resolver specific context.. **
