## Call GetProfileByUser.req.vtl and GetProfileByUser.res.vtl
#set( $profile = $ctx.stash.get("profile") )

#if (!$profile)
  $util.error("Profile not found", "BAD_REQUEST")
#end

$util.toJson($profile.exploreRecentSearch)